__pycache__/
.pytest_cahce
conf/iotf/emperor.ini
conf/iotf/rocinante.ini
conf/iotf/telemetry.ini
test/conf/iotf/emperor.ini
test/conf/iotf/rocinante.ini
test/conf/iotf/telemetry.ini
.git
*.BAK
build/
dist/
donkeypart_telemetry.egg-info/
tests/conf/mosq/data/mosquitto.db
tests/conf/mosq/log/mosquitto.log
*.log
result_0.jpg
